.container-big{
  width: 100%;
  background: url("../img/bg11.jpg");
  background-repeat: repeat;
}
.header{
  height: 500px;
}
h1{
  margin: 0 auto;
  color: LavenderBlush;
  padding-left: 40%;
  padding-top: 10%;
  padding-bottom: 10%;
  font-size: 75px;
  border: 1px solid #e34d3d;
}
.container{
  width: 1500px;
  height: auto;
  padding-right: 0px;
  padding-left: 0px;
}
.play{
  padding-left: 10%;
  padding-bottom: 20%;
}
.about{
  color: LavenderBlush;
  padding: 15px;
  float: right;
  border: 1px solid #e34d3d;
}
.rules{
  font-style: italic;
  text-align: left;
  color: LavenderBlush;
}
.lets{
  color: #e34d3d;
}
#lets{
  color: MistyRose;
}
.container3{
  color: LavenderBlush;
  padding-top: 75px;
  float: left;
  padding-left:30%
}
